.sider-container {
    // width: 100%;
    height: 100%;
    position: relative;
    width: 150px;
    min-width: 0;
    max-width: 150px;
    flex: 0 0 150px;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    background-color: #222834;
    .layout-logo {
        height: 50px;
        line-height: 50px;
        // padding: 8px 16px;
        .layout-logo-wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 1px;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
        }
    }
    .layout-title {
        color: #fff;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
    }
    // :global {
    //     // .ant-menu-inline {
    //     //     background: #222834;
    //     //     // background: #000c17;
    //     // }
    //     .ant-menu-dark {
    //         color: rgba(255, 255, 255, 0.65);
    //         background: #222834;
    //     }
    //     .ant-menu-item-selected {
    //         background-color: #009688 !important;
    //     }
    // }
    .sider-menu-container {
        flex: 1;
        overflow: auto;
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 10px;
        }
        &::-webkit-scrollbar {
            width: 6px;
            height: 8px;
            background: transparent;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                background: rgba(153, 153, 153, 0.3);
            }
        }
    }
    :global {
        // .ant-menu-inline {
        //     background: #222834;
        //     // background: #000c17;
        // }
        .ant-menu-dark {
            color: rgba(255, 255, 255, 0.65);
            background: #222834;
        }
        .ant-menu-item {
            margin-inline: 0 !important;
            margin-block: 0 !important;
            width: 100% !important;
            border-radius: 0 !important;
        }
        .ant-menu-item-selected {
            background-color: #009688 !important;
        }
    }
}
.narrow {
    width: 54px !important;
    flex: 0 0 54px !important;
    max-width: 54px !important;
    min-width: 54px !important;
}