@import url(@/global/index.less);

.@{className}-dropdown-container {
    position: absolute;
    z-index: 1050;
    left: 0;
    top: 0;
    border-radius: 8px;
    overflow: auto;
    box-sizing: border-box;
    display: none;
    background: #ffffff;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}