@import url('@/config/index.less');

.@{className}-space-card-tools {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
    padding: 3px 0;
    &:hover {
        background-color: #222325b9;
    }
}