@font-family: Roboto, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif, Helvetica Neue, -apple-system, BlinkMacSystemFont, noto sans-serif;

.ant-input-affix-wrapper-lg {
    border-radius: 4px !important;
}
.ant-btn, .ant-btn-lg {
    border-radius: 4px !important;
}
.ant-input, .ant-input-lg {
    border-radius: 4px !important;
}
.ant-tabs {
    font-family: @font-family;
}