@import url(@/global/index.less);

.@{className}-dropdown-value {
    width: 1rem;
    height: 1rem;
    color: rgba(36, 39, 46, 0.78);
}

.@{className}-dropdown-small {
    width: 1rem;
    height: 1rem;
    color: rgba(36, 39, 46, 0.78);
    svg {
        color: rgba(36, 39, 46, 0.78) !important;
    }
}