@import url('@/config/index.less');

.@{className}-member-list {
    width: 100%;
    height: 100%;
    position: relative;
    // .@{className}-member-list-header {
    //     padding: 16px 20px;
    //     line-height: 24px;
    //     border-bottom: 1px solid #e6e6e6;
    //     color: #29303b;
    //     font-size: 16px;
    //     font-weight: 500;
    // }
    .@{className}-member-list-menu {
        width: 100%;
        // height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 10px;
        overflow: auto;
        .@{className}-member-list-menu-item {
            border-bottom: 1px solid #f3f3f3;
            transition: 0.25s;
            position: relative;
            cursor: pointer;
            padding: 18px 17px;
            &:hover {
                background-color: #f7f8fa;
            }
            &:last-child {
                border-bottom: 1px solid transparent;
            }
        }
        // .@{className}-member-list-menu-item.@{className}-member-list-menu-item-selected {
        //     background-color: rgb(232, 240, 254);
        // }
    }
}