.cls-box0 {
    width: 200px;
    height: 30px;
    // padding: 10px 20px 30px 40px;
    // margin: 1000px 35px 45px 355px;
    position: absolute;
    top: 900px;
    left: 900px;
    border: 1px solid #000;
    background: red;
}

.cls-box1 {
    width: 120px;
    height: 100px;
    padding: 10px 20px 30px 40px;
    // margin: 25px 35px 45px 55px;
    border: 1px solid #885858;
    background: blue;
}