.drag-list {
    height: 800px;
    overflow: auto;
    margin: 30px;
    border: 1px solid #000;
}
.drag-item {
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
    border: 1px solid #885858;
    background: #eee;
}