.draggable-active {
    opacity: .3;
    background: #6fb1dd !important;
    // visibility: hidden !important;
}
.draggable-helperContainer {
}
.draggable-proxyNode {
    position: fixed;
    left: 0;
    top: 0;
    opacity: .5;
}
.draggable-markNode {
    width: 4px;
    height: 4px;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(35, 131, 226, 0.57);
}
.draggable-markNode-hidden {
    visibility: hidden;
    pointer-events: none;
}