.docEditer-formatButton-button-group {
    display: flex;
    align-items: center;
    gap: .325rem;
}

.docEditer-formatButton-button {
    min-width: 2rem;
    height: 2rem;
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0);
    // color: rgba(40,44,51,0.42);
    // color: rgba(36,39,46,0.78);
    border: 0;
    border-radius: .75rem !important;
    box-shadow: none;
    &:hover {
        background-color: rgba(234,234,235,1);
        color: rgba(29,30,32,0.98);
    }
    svg {
        width: 1rem;
        height: 1rem;
        // color: rgba(40,44,51,0.42);
        color: rgba(36,39,46,0.78);
    }
}

.docEditer-formatButton-button-active {
    background-color: rgba(15,22,36,0.05);
    svg {
        color: rgba(98,41,255,1);
    }
}

.docEditer-formatButton-button.ant-dropdown-open {
    background-color: rgba(15,22,36,0.05);
    color: rgba(29,30,32,0.98);
}

.docEditer-formatButton-tooltip {
    .ant-tooltip-arrow {
        display: none;
    }
    .ant-tooltip-inner {
        margin-top: -5px;
        border-radius: 0.5rem;
        background-color: rgba(34,35,37,1);
        padding: .375rem .5rem;
        font-size: .75rem;
        font-weight: 500;
        color: rgba(255,255,255,1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1);
        text-align: center;
    }
    
}