@import url(../../config/index.less);

.@{className}-link-panel {
    border-radius: 18px;
    padding: 3px 10px;
    .@{className}-link-panel-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .@{className}-link-panel-input {
        width: 270px;
        height: 26px;
        min-height: 26px;
        line-height: 26px;
        margin: 0 10px 0 0;
    }
    .@{className}-link-panel-separator {
        width: 1px;
        height: 24px;
        background-color: rgba(37, 39, 45, 0.1);
        flex-shrink: 0;
    }
}