.simple-editor-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: "Inter", sans-serif;
    color: var(--tt-theme-text);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    padding: 1rem;
    // align-items: center;
    justify-content: center;
    overscroll-behavior-y: none;
    --tt-toolbar-height: 44px;
    --tt-theme-text: var(--tt-gray-light-900);
    .dark & {
        --tt-theme-text: var(--tt-gray-dark-900);
    }
    // &::-webkit-scrollbar-thumb {
    //     background-color: var(--tt-scrollbar-color);
    //     border-radius: 9999px;
    // }
    
    // &::-webkit-scrollbar-track {
    //     background: transparent;
    // }
    // scrollbar-width: thin;
    // scrollbar-color: var(--tt-scrollbar-color) transparent;
}

.simple-editor-content {
    // max-width: 648px;
    width: 100%;
    // margin: 0 auto;
    height: 100%;
    overflow: auto;
    // display: inline-table;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // flex: 1;
    padding: 20px 0;
}

.tiptap.ProseMirror {
    font-family: "DM Sans", sans-serif;
}

.simple-editor-content {
    .tiptap.ProseMirror.simple-editor {
        width: 100%;
        max-width: 820px;
        flex: 1;
        padding: 3rem 3rem 30vh;
        // padding: 3rem 3rem 3rem;
        border-radius: .625rem;
        background: #fff;
        box-shadow: 0 0 #0000, 0 0 rgb(0, 0, 0, 0), 0 0 #0000, 0 0 #0000, 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04), 0px 1.503px 4.132px 0px rgba(0, 0, 0, .03), 0px 0.543px 1.495px 0px rgba(0, 0, 0, .02);
    }
}

@media screen and (max-width: 480px) {
    .simple-editor-content {
        .tiptap.ProseMirror.simple-editor {
            padding: 1rem 1.5rem 30vh;
        }
    }
}