@import url(@/global/index.less);

.@{className}-tooltip-container {
    border-radius: 8px;
    background-color: #222325;
    padding: 6px 8px;
    font-size: 12px;
    // font-weight: 500;
    color: #ffffff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    text-align: center;
    pointer-events: none;
}

// .@{className}-tooltip-open {
//     display: block;
// }

// .@{className}-tooltip-hidden {
//     display: none;
// }