@import url(../config/index.less);

.@{className}-media-upload-container {
    padding: 10px;
    .@{className}-media-upload-btn-container {
        width: 540px;
        // padding: 20px;
    }

    .@{className}-media-upload-link-container {
        width: 540px;
        // padding: 20px;
    }
}