.docEditer-formatDropdown-tooltip {
    .ant-tooltip-arrow {
        display: none;
    }

    .ant-tooltip-inner {
        margin-top: -5px;
        border-radius: 0.5rem;
        background-color: rgba(34, 35, 37, 1);
        padding: .375rem .5rem;
        font-size: .75rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1);
        text-align: center;
    }

}

.docEditer-formatDropdown-dropdown-overlay {
    .docEditer-formatDropdown-dropdown-item {
        height: auto;
        padding: 0;
        min-width: auto;
        background-color: rgba(0, 0, 0, 0) !important;
        span {
            padding-left: .325rem;
        }
    }
    .docEditer-formatDropdown-button-active {
        background-color: rgba(15, 22, 36, 0.05);
        svg {
            color: rgba(98, 41, 255, 1);
            padding: auto;
        }
    }
    .ant-dropdown-menu-item.ant-dropdown-menu-item-selected {
        background-color: rgba(15, 22, 36, 0.05);
        color: rgba(29, 30, 32, 0.98);
        svg {
            color: rgba(98, 41, 255, 1);
        }

        &:hover {
            background-color: rgba(15, 22, 36, 0.05);
            color: rgba(29, 30, 32, 0.98);
        }
    }
}