@import url(@/global/index.less);

.@{className}-cm-node-view {
    display: block !important;
    width: 100% !important;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #f8f9fa;
    // margin: 10px 10px;

    // 这里的容器层级必须允许内容折行
    .cm-editor {

        // 强制编辑器内部 scroller 允许换行
        .cm-scroller {
            overflow-x: hidden !important;
            white-space: pre-wrap !important;
        }

        .cm-content {
            white-space: pre-wrap !important;
            word-break: break-all !important; // 强制单词内断句
            word-wrap: break-word !important;
        }

        /* 必须给行容器也加上换行，否则格式化缩进会错位 */
        .cm-line {
            white-space: pre-wrap !important;
            display: block !important;
        }
    }
}