.notion-page-container {
    padding: 30px 60px;
    .notion-page-content {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
        position: relative;
        .notion-block {
            width: 100%;
            min-height: 200px;
            // border-radius: 10px;
            // margin: 8px 0;
            border: 1px solid rgba(47,50,55,0.2);
            cursor: default;
            background: rgba(15,22,36,0.05);
        }
        .notion-row-block {
            width: 100%;
            // border-radius: 10px;
            // border: 1px solid rgba(47,50,55,0.2);
            display: flex;
            flex-grow: 1;
            // padding: 20px;
            // background: rgba(15,22,36,0.05);
            // box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
        }
        .notion-column-block {
            min-height: 200px;
            flex-grow: 0;
            flex-shrink: 0;
            flex: 1;
            position: relative;
            // padding: 20px;
            // border-radius: 10px;
            // border: 1px solid rgba(47,50,55,0.2);
            // background: rgba(15,22,36,0.05);
            // transition-duration: 200ms;
            // transition-timing-function: ease;
            // transition-property: width;
        }
    }
    .draggable-proxy {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        // border-radius: 10px;
        opacity: .5;
        pointer-events: none;
        background: red;
        display: none;
    }
}

